body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(136, 220, 129);
    color: black;
}

header {
    background-color: green;
    padding: 20px;
    text-align: center;
    color: white;
}

footer {
    background-color: black;
    color: rgb(136, 220, 129);
    padding: 10px;
    text-align: center;
}

.contributors {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

.section {
    background-color: rgb(222, 255, 210);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 10px;
    border: solid 5px green;
    border-radius: 3px;
}
